/* Light mode styles */
::ng-deep body {
  background-color: #ffffff;
  color: black;
  --container-bg: #ffffff;
  --text-color: #121212;
  --form-bg: rgba(0, 0, 0, 0.05);
  --form-border: #888888;
  --button-bg: #4caf50;
  --button-hover-bg: #388e3c;
  --button-text-color: #ffffff;
}

/* Dark mode styles */
::ng-deep body.dark-mode {
  background-color: #121212;
  color: white;
  --container-bg: rgba(255, 255, 255, 0.03);
  --text-color: #f6f5ea;
  --form-bg: rgba(255, 255, 255, 0.05);
  --form-border: #0f3314;
  --button-bg: #a4e38d;
  --button-hover-bg: #5c9c45;
  --button-text-color: #121a0f;
}

/* Shared styles */
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--container-bg);
  color: var(--text-color);
}

h1,
h2 {
  text-align: center;
  font-size: 1.3rem;
  color: var(--text-color);
}

.form-group {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.6rem;
  color: var(--text-color);
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 0.7rem;
  border: none;
  border-bottom: 1px solid var(--form-border);
  background-color: var(--form-bg);
  border-radius: 10px;
  color: var(--text-color);
  outline: none;
}

.form-group input:focus-visible {
  outline: 1px dashed var(--form-border);
}

button {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 6px 24px;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}
