/* You can add global styles to this file, and also import other style files */
/* Apply font globally */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #060805;
  color:#f6f5ea
}

input {
  box-sizing: border-box;
}
